<h3>Araba Ekle</h3>
<form [formGroup]="carAddForm" (ngSubmit)="add()">
  <div class="form-group">
    <label for="brandId">Marka</label>
    <select
      class="form-control"
      formControlName="brandId"
      required
      id="brandId"
      name="brandId"
      formControlName="brandId"
      placeholder="Marka Seçiniz"
    >
      <option *ngFor="let brand of brands" [value]="brand.id">
        {{ brand.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Model</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      formControlName="name"
      placeholder="Model Giriniz"
    />
  </div>
  <div class="form-group">
    <label for="plate">Plaka</label>
    <input
      type="text"
      class="form-control"
      id="plate"
      name="plate"
      formControlName="plate"
      placeholder="Plaka Giriniz"
    />  
  </div>
  <div class="form-group">
    <label for="state">Kiralama Durumu</label>
    <input
      type="text"
      class="form-control"
      id="state"
      name="state"
      formControlName="state"
      placeholder="Kiralama Durumu Giriniz"
    />
    <div class="form-group">
      <label for="imageUrl">Resim</label>
      <input
        type="text"
        class="form-control"
        id="imageUrl"
        name="imageUrl"
        formControlName="imageUrl"
        placeholder="Resim Url'si Giriniz"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="add()">Kaydet</button>
</form>
